<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>groupTasks</title>
</head>

<body class="m-0 h-screen">
  <div id="phoneDaysContainer" class="w-full h-full flex flex-col md:hidden">
    <button id="phoneDaysContainerBackBtn"
      class="absolute top-1 left-4 text-xl font-bold text-[var(--color-headers)]">&lArr;</button>
    <div id="phoneMonday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Lunes</h2>
    </div>
    <div id="phoneTuesday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Martes</h2>
    </div>
    <div id="phoneWednesday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Miércoles</h2>
    </div>
    <div id="phoneThursday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Jueves</h2>
    </div>
    <div id="phoneFriday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Viernes</h2>
    </div>
    <div id="phoneSaturday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Sábado</h2>
    </div>
    <div id="phoneSunday"
      class="flex-1 h-1/7 mx-1 items-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center mt-10 font-bold text-[var(--color-headers)]">Domingo</h2>
    </div>
  </div>
  <div id="daysContainer" class="w-full h-full flex">
    <button id="daysContainerBackBtn"
      class="absolute top-1 left-4 text-xl font-bold text-[var(--color-headers)]">&lArr;</button>
    <div id="monday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="w-full title-font text-center font-bold text-[var(--color-headers)]">Lunes</h2>
    </div>
    <div id="tuesday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center font-bold text-[var(--color-headers)]">Martes</h2>
    </div>
    <div id="wednesday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center font-bold text-[var(--color-headers)]">Miércoles</h2>
    </div>
    <div id="thursday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center font-bold text-[var(--color-headers)]">Jueves</h2>
    </div>
    <div id="friday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center font-bold text-[var(--color-headers)]">Viernes</h2>
    </div>
    <div id="saturday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center font-bold text-[var(--color-headers)]">Sábado</h2>
    </div>
    <div id="sunday"
      class="flex-1 w-full mx-1 h-full items-center justify-center hover:bg-[var(--color-bgdaycontainer)] cursor-pointer rounded-lg border-4 border-gray-300">
      <h2 class="title-font text-center font-bold text-[var(--color-headers)]">Domingo</h2>
    </div>
  </div>
  <div id="taskModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden p-4">
    <div
      class="bg-[--color-base] text-[--color-text] rounded-xl shadow-xl p-6 max-w-4xl relative max-h-[90vh] flex flex-col">
      <button id="closeModal"
        class="absolute top-1 right-2 text-xl font-bold text-[var(--color-headers)]">&times;</button>
      <!-- Tasks container for modification form -->
      <div id="tasksContainer" class="flex-1 overflow-y-auto">
        <!-- Task rows will be inserted here -->
        <div id="taskModalContent">
          <h2 id="modalTitle" class="text-xl font-semibold mb-2 text-center"></h2>
          <p id="modalDescription" class="mb-4 select-text"></p>
          <div class="flex justify-between">
            <button id="completeBtn"
              class="px-4 py-2 bg-[var(--color-add)] text-white rounded hover:bg-[var(--color-addhover)]">Complete</button>
            <button id="modifyBtn"
              class="px-4 py-2 bg-yellow-400 text-black rounded hover:bg-yellow-500 mx-5">Modify</button>
            <button id="deleteBtn"
              class="px-4 py-2 bg-[var(--color-delete)] text-white rounded hover:bg-[var(--color-deletehover)]">Delete</button>
          </div>

          <input type="file" accept="image/*" id="proofImage" class="hidden mt-3" />
        </div>
      </div>
    </div>
  </div>
</body>

</html>